In [77]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
#read csv, print 5 rows
klangapi = pd.read_csv('klangapiraw.csv',encoding='latin1')
klangapi.head()

,Full_Date,Month,Years,Site_Id,Site_Location,Date,Time,Ws_hourly_avg,Wd_hourly_avg,Amb_temp_hourly_avg,...,Humidity_hourly_avg,Nox_hourly_avg,No_hourly_avg,So2_hourly_avg,No2_hourly_avg,O3_hourly_avg,Co_hourly_avg,Pm10_hourly_avg,API_Main,PM2.5 1H (µg/m3)
0,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,100,2.6,355.0,26.9,...,NaN,0.088,0.043,0.009,0.045,0.005,2.16,94,54.0,NaN
1,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,200,3.0,34.0,26.7,...,NaN,0.066,0.026,0.009,0.04,0.005,1.98,102,55.0,NaN
2,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,300,3.2,54.0,26.1,...,NaN,0.052,0.016,0.007,0.036,0.006,1.68,110,55.0,NaN
3,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,400,2.9,113.0,25.5,...,NaN,0.057,0.02,0.007,0.037,0.002,1.68,102,56.0,NaN
4,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,500,3.9,91.0,25.0,...,NaN,0.052,0.016,0.007,0.036,0.002,1.67,96,57.0,NaN

In [91]:
klangapi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160260 entries, 0 to 160259
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Full_Date            160260 non-null  object
 1   Month                160260 non-null  object
 2   Years                160260 non-null  int64
 3   Site_Id              160260 non-null  object
 4   Site_Location        160260 non-null  object
 5   Date                 160260 non-null  int64
 6   Time                 160260 non-null  int64
 7   Ws_hourly_avg        125313 non-null  float64
 8   Wd_hourly_avg        143277 non-null  float64
 9   Amb_temp_hourly_avg  152851 non-null  float64
 10  UVB_hourly_avg       78737 non-null   float64
 11  Humidity_hourly_avg  153637 non-null  object
 12  Nox_hourly_avg       158628 non-null  object
 13  No_hourly_avg        158628 non-null  object
 14  So2_hourly_avg       158809 non-null  object
 15  No2_hourly_avg       158647 non-null  object
 16  O3_hourly_avg        158954 non-null  object
 17  Co_hourly_avg        158922 non-null  object
 18  Pm10_hourly_avg      160066 non-null  object
 19  API_Main             159729 non-null  float64
 20  PM2.5 1H (µg/m3)     26131 non-null   float64
dtypes: float64(6), int64(3), object(12)
memory usage: 25.7+ MB

In [92]:
klangapi["Humidity_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["Nox_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["Nox_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["No_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["So2_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["No2_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["O3_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["Co_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')
klangapi["Pm10_hourly_avg"] = pd.to_numeric(klangapi.Humidity_hourly_avg, errors='coerce')

In [93]:
klangapi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160260 entries, 0 to 160259
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Full_Date            160260 non-null  object
 1   Month                160260 non-null  object
 2   Years                160260 non-null  int64
 3   Site_Id              160260 non-null  object
 4   Site_Location        160260 non-null  object
 5   Date                 160260 non-null  int64
 6   Time                 160260 non-null  int64
 7   Ws_hourly_avg        125313 non-null  float64
 8   Wd_hourly_avg        143277 non-null  float64
 9   Amb_temp_hourly_avg  152851 non-null  float64
 10  UVB_hourly_avg       78737 non-null   float64
 11  Humidity_hourly_avg  147367 non-null  float64
 12  Nox_hourly_avg       147367 non-null  float64
 13  No_hourly_avg        147367 non-null  float64
 14  So2_hourly_avg       147367 non-null  float64
 15  No2_hourly_avg       147367 non-null  float64
 16  O3_hourly_avg        147367 non-null  float64
 17  Co_hourly_avg        147367 non-null  float64
 18  Pm10_hourly_avg      147367 non-null  float64
 19  API_Main             159729 non-null  float64
 20  PM2.5 1H (µg/m3)     26131 non-null   float64
dtypes: float64(14), int64(3), object(4)
memory usage: 25.7+ MB

In [94]:
#check is missing data exist
klangapi.isnull().sum()

Full_Date                   0
Month                       0
Years                       0
Site_Id                     0
Site_Location               0
Date                        0
Time                        0
Ws_hourly_avg           34947
Wd_hourly_avg           16983
Amb_temp_hourly_avg      7409
UVB_hourly_avg          81523
Humidity_hourly_avg     12893
Nox_hourly_avg          12893
No_hourly_avg           12893
So2_hourly_avg          12893
No2_hourly_avg          12893
O3_hourly_avg           12893
Co_hourly_avg           12893
Pm10_hourly_avg         12893
API_Main                  531
PM2.5 1H (µg/m3)       134129
dtype: int64

In [95]:
klangapi.interpolate(method ='linear', limit_direction ='both', inplace=True)

In [96]:
klangapi.isnull().sum()

Full_Date              0
Month                  0
Years                  0
Site_Id                0
Site_Location          0
Date                   0
Time                   0
Ws_hourly_avg          0
Wd_hourly_avg          0
Amb_temp_hourly_avg    0
UVB_hourly_avg         0
Humidity_hourly_avg    0
Nox_hourly_avg         0
No_hourly_avg          0
So2_hourly_avg         0
No2_hourly_avg         0
O3_hourly_avg          0
Co_hourly_avg          0
Pm10_hourly_avg        0
API_Main               0
PM2.5 1H (µg/m3)       0
dtype: int64

In [97]:
klangapi.head()

,Full_Date,Month,Years,Site_Id,Site_Location,Date,Time,Ws_hourly_avg,Wd_hourly_avg,Amb_temp_hourly_avg,...,Humidity_hourly_avg,Nox_hourly_avg,No_hourly_avg,So2_hourly_avg,No2_hourly_avg,O3_hourly_avg,Co_hourly_avg,Pm10_hourly_avg,API_Main,PM2.5 1H (µg/m3)
0,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,100,2.6,355.0,26.9,...,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,54.0,9.176
1,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,200,3.0,34.0,26.7,...,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,55.0,9.176
2,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,300,3.2,54.0,26.1,...,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,55.0,9.176
3,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,400,2.9,113.0,25.5,...,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,56.0,9.176
4,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,500,3.9,91.0,25.0,...,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,57.0,9.176

In [98]:
klangapi['Date'] = pd.to_datetime(klangapi['Date'], format='%Y%m%d')

In [99]:
klangapi.set_index('Date', inplace=True)
klangapi.head()

,Full_Date,Month,Years,Site_Id,Site_Location,Time,Ws_hourly_avg,Wd_hourly_avg,Amb_temp_hourly_avg,UVB_hourly_avg,Humidity_hourly_avg,Nox_hourly_avg,No_hourly_avg,So2_hourly_avg,No2_hourly_avg,O3_hourly_avg,Co_hourly_avg,Pm10_hourly_avg,API_Main,PM2.5 1H (µg/m3)
Date,,,,,,,,,,,,,,,,,,,,
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",100,2.6,355.0,26.9,0.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,54.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",200,3.0,34.0,26.7,0.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,55.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",300,3.2,54.0,26.1,0.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,55.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",400,2.9,113.0,25.5,0.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,56.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",500,3.9,91.0,25.0,0.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,89.0,57.0,9.176

In [104]:
klangapinews = klangapi.resample('D').mean()

In [106]:
klangapi

,Full_Date,Month,Years,Site_Id,Site_Location,Time,Ws_hourly_avg,Wd_hourly_avg,Amb_temp_hourly_avg,UVB_hourly_avg,Humidity_hourly_avg,Nox_hourly_avg,No_hourly_avg,So2_hourly_avg,No2_hourly_avg,O3_hourly_avg,Co_hourly_avg,Pm10_hourly_avg,API_Main,PM2.5 1H (µg/m3)
Date,,,,,,,,,,,,,,,,,,,,
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",100,2.600,355.0,26.900,0.0,89.000,89.000,89.000,89.000,89.000,89.000,89.000,89.000,54.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",200,3.000,34.0,26.700,0.0,89.000,89.000,89.000,89.000,89.000,89.000,89.000,89.000,55.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",300,3.200,54.0,26.100,0.0,89.000,89.000,89.000,89.000,89.000,89.000,89.000,89.000,55.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",400,2.900,113.0,25.500,0.0,89.000,89.000,89.000,89.000,89.000,89.000,89.000,89.000,56.0,9.176
2002-01-01,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",500,3.900,91.0,25.000,0.0,89.000,89.000,89.000,89.000,89.000,89.000,89.000,89.000,57.0,9.176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-31,31/12/2020,December,2020,CA21B,"Klang, SELANGOR",44197,1.772,206.0,28.779,26.0,80.241,80.241,80.241,80.241,80.241,80.241,80.241,80.241,64.0,9.947
2020-12-31,31/12/2020,December,2020,CA21B,"Klang, SELANGOR",44197,1.374,185.0,28.200,0.0,82.533,82.533,82.533,82.533,82.533,82.533,82.533,82.533,64.0,15.579
2020-12-31,31/12/2020,December,2020,CA21B,"Klang, SELANGOR",44197,1.243,105.0,27.643,0.0,83.318,83.318,83.318,83.318,83.318,83.318,83.318,83.318,64.0,18.666
2020-12-31,31/12/2020,December,2020,CA21B,"Klang, SELANGOR",44197,1.263,89.0,27.015,0.0,83.150,83.150,83.150,83.150,83.150,83.150,83.150,83.150,64.0,23.993
2020-12-31,31/12/2020,December,2020,CA21B,"Klang, SELANGOR",44197,0.863,59.0,26.881,0.0,87.308,87.308,87.308,87.308,87.308,87.308,87.308,87.308,63.0,24.730

In [108]:
klangapinews

,Years,Time,Ws_hourly_avg,Wd_hourly_avg,Amb_temp_hourly_avg,UVB_hourly_avg,Humidity_hourly_avg,Nox_hourly_avg,No_hourly_avg,So2_hourly_avg,No2_hourly_avg,O3_hourly_avg,Co_hourly_avg,Pm10_hourly_avg,API_Main,PM2.5 1H (µg/m3)
Date,,,,,,,,,,,,,,,,
2002-01-01,2002.0,1250.000000,5.150000,152.208333,28.270833,114.041667,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,66.875000,9.176000
2002-01-02,2002.0,1250.000000,5.670833,156.833333,27.329167,111.583333,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,59.458333,9.176000
2002-01-03,2002.0,1250.000000,5.529167,107.375000,27.175000,139.125000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,64.791667,9.176000
2002-01-04,2002.0,1250.000000,5.308333,140.208333,27.241667,145.166667,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,65.541667,9.176000
2002-01-05,2002.0,1250.000000,5.000000,145.250000,27.841667,117.333333,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,72.375000,9.176000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-27,2020.0,44192.458333,1.117042,122.541667,27.717500,117.666667,83.762417,83.762417,83.762417,83.762417,83.762417,83.762417,83.762417,83.762417,53.458333,15.322250
2020-12-28,2020.0,44193.500000,0.810708,179.291667,27.527417,101.541667,86.281125,86.281125,86.281125,86.281125,86.281125,86.281125,86.281125,86.281125,57.958333,26.845667
2020-12-29,2020.0,44194.458333,1.168000,162.000000,27.120958,105.625000,87.132708,87.132708,87.132708,87.132708,87.132708,87.132708,87.132708,87.132708,60.208333,18.089167
2020-12-30,2020.0,44195.500000,1.264167,138.125000,27.543292,117.541667,84.292167,84.292167,84.292167,84.292167,84.292167,84.292167,84.292167,84.292167,57.416667,19.194833
2020-12-31,2020.0,44196.458333,1.218042,158.166667,27.574792,129.958333,83.728083,83.728083,83.728083,83.728083,83.728083,83.728083,83.728083,83.728083,64.750000,28.157333

In [ ]:
#2002-01-01 to 2020-12-31
#6940 days
#remove uvb, rh rows, year
#training/testing 2002-2018
#deployment 2019-2020, in stat verification
#gru:improvement lstm: get recurrent unit ,lstm