In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [204]:
#read csv, print 5 rows
klangapi = pd.read_csv('klangapiraw.csv',encoding='latin1')
klangapi.head()

,Full_Date,Month,Years,Site_Id,Site_Location,Date,Time,Ws_hourly_avg,Wd_hourly_avg,Amb_temp_hourly_avg,...,Humidity_hourly_avg,Nox_hourly_avg,No_hourly_avg,So2_hourly_avg,No2_hourly_avg,O3_hourly_avg,Co_hourly_avg,Pm10_hourly_avg,API_Main,PM2.5 1H (µg/m3)
0,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,100,2.6,355.0,26.9,...,NaN,0.088,0.043,0.009,0.045,0.005,2.16,94,54.0,NaN
1,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,200,3.0,34.0,26.7,...,NaN,0.066,0.026,0.009,0.04,0.005,1.98,102,55.0,NaN
2,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,300,3.2,54.0,26.1,...,NaN,0.052,0.016,0.007,0.036,0.006,1.68,110,55.0,NaN
3,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,400,2.9,113.0,25.5,...,NaN,0.057,0.02,0.007,0.037,0.002,1.68,102,56.0,NaN
4,1/1/2002,January,2002,CA0011,"Sek. Men. (P) Raja Zarina, Kelang ...",20020101,500,3.9,91.0,25.0,...,NaN,0.052,0.016,0.007,0.036,0.002,1.67,96,57.0,NaN

In [205]:
klangapi.shape

(160260, 21)

In [206]:
klangapi.iloc[6553]

Full_Date                                                      1/10/2002
Month                                                            October
Years                                                               2002
Site_Id                                                           CA0011
Site_Location          Sek. Men. (P) Raja Zarina, Kelang             ...
Date                                                            20021001
Time                                                                 200
Ws_hourly_avg                                                        1.0
Wd_hourly_avg                                                      356.0
Amb_temp_hourly_avg                                                 22.3
UVB_hourly_avg                                                       NaN
Humidity_hourly_avg                                                   90
Nox_hourly_avg                                                       0.1
No_hourly_avg                                                      0.068
So2_hourly_avg                                                      0.01
No2_hourly_avg                                                     0.032
O3_hourly_avg                                                      0.001
Co_hourly_avg                                                       3.49
Pm10_hourly_avg                                                      136
API_Main                                                            66.0
PM2.5 1H (µg/m3)                                                     NaN
Name: 6553, dtype: object

### SELECT APPROPRIATE ROWS

In [207]:
#30/9/2002 is the date where the value of the relative humidity start to collect.
#Hence we need to remove rows before the date 30/9/2002 as it has incomplete data
#Retrieve the last index of 30/9/2002 from the data which is 6551
klangapi[klangapi['Full_Date'] == '1/1/2018'].index[0]

133968

In [208]:
#Then remove all of the data from the 1 to 6551 index
#Used .copy() to avoid warnings
klangapiSelRows = klangapi.iloc[133973:].copy().reset_index(drop=True)
klangapiSelRows.head()

,Full_Date,Month,Years,Site_Id,Site_Location,Date,Time,Ws_hourly_avg,Wd_hourly_avg,Amb_temp_hourly_avg,...,Humidity_hourly_avg,Nox_hourly_avg,No_hourly_avg,So2_hourly_avg,No2_hourly_avg,O3_hourly_avg,Co_hourly_avg,Pm10_hourly_avg,API_Main,PM2.5 1H (µg/m3)
0,1/1/2018,January,2018,CA21B,"Klang, SELANGOR",20180101,43102,NaN,NaN,NaN,...,0,0.0272,0.0157,0.0015,0.0085,0.0113,NaN,18.317,NaN,9.176
1,1/1/2018,January,2018,CA21B,"Klang, SELANGOR",20180101,43102,3.073,253.0,27.742,...,80.789,0.0172,0.0087,0.0013,0.0085,0.0143,0.483,8.995,NaN,2.828
2,1/1/2018,January,2018,CA21B,"Klang, SELANGOR",20180101,43102,3.293,286.0,27.539,...,80.817,0.0361,0.0196,0.0045,0.0115,0.0121,0.483,18.379,NaN,13.714
3,1/1/2018,January,2018,CA21B,"Klang, SELANGOR",20180101,43102,3.422,293.0,27.218,...,82.583,0.0153,0.0087,0.0029,0.007,0.0153,0.486,NaN,NaN,NaN
4,1/1/2018,January,2018,CA21B,"Klang, SELANGOR",20180101,43102,1.892,295.0,26.800,...,85.033,0.0215,0.0111,0.0007,0.0087,0.0129,0.615,6.652,NaN,1.965

### DROP UNECESSARY COLUMNS AND CHANGE COLUMN NAMES

In [209]:
klangapiSelRows.drop(columns=['UVB_hourly_avg','API_Main','Full_Date','Month','Years','Site_Id','Site_Location','Time'], inplace = True)
klangapiSelRows.columns=['date','wind_speed','wind_direction','temperature','relative_humidity','nox','no','so2','no2','o3','co','pm10','pm2.5']

klangapiSelRows.shape

(26287, 13)

In [210]:
klangapiSelRows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26287 entries, 0 to 26286
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               26287 non-null  int64
 1   wind_speed         26216 non-null  float64
 2   wind_direction     26216 non-null  float64
 3   temperature        26216 non-null  float64
 4   relative_humidity  26217 non-null  object
 5   nox                24657 non-null  object
 6   no                 24657 non-null  object
 7   so2                24839 non-null  object
 8   no2                24677 non-null  object
 9   o3                 24984 non-null  object
 10  co                 24951 non-null  object
 11  pm10               26098 non-null  object
 12  pm2.5              26131 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 2.6+ MB

### DEALING WITH MISSING DATA AND INCORRECT DATA TYPE

In [211]:
klangapiSelRows[(klangapiSelRows == 0.0).any(axis=1)]

,date,wind_speed,wind_direction,temperature,relative_humidity,nox,no,so2,no2,o3,co,pm10,pm2.5
210,20180110,0.542,0.0,23.993,93.077,0.0125,0.0019,NaN,0.0091,0.0134,0.463,11.28,5.268
381,20180117,0.000,146.0,25.774,86.283,NaN,NaN,0.0038,NaN,0.0015,2.765,128.193,86.145
446,20180120,0.588,0.0,24.233,96.85,0.0216,0.0035,0.0005,0.0176,0.0054,0.664,23.976,12.576
2462,20180414,0.000,207.0,26.875,90.065,0.0266,0.0026,0.0012,0.024,0.0053,0.964,65.607,44.290
3105,20180510,0.000,141.0,28.683,85.21,0.0589,0.012,0.0017,0.0469,0.0076,1.635,62.704,49.269
5910,20180904,1.081,0.0,26.932,78,0.0315,0.0099,0.0033,0.0216,0.0089,0.831,53.864,33.652
6895,20181016,0.524,0.0,25.292,89.217,0.0639,0.0341,0.0014,0.0299,0.0008,1.834,40.415,23.922
7454,20181108,0.724,0.0,24.142,98.967,0.0262,0.0091,0.0021,0.0171,0.0044,NaN,5.526,2.477
8314,20181214,0.000,201.0,25.090,93.58,0.0255,0.0106,0.0016,0.015,0.0008,0.877,25.657,18.533
9372,20190127,1.140,0.0,24.862,91.668,0.0282,0.0121,0.0017,0.0161,NaN,2.251,75.344,69.890
9699,20190209,0.000,180.0,27.204,85.333,0.0196,0.0018,0.0002,0.0177,0.0192,0.895,27.598,24.238
11359,20190420,1.114,0.0,29.400,84.767,0.0322,0.0106,0.0006,0.0216,0.0021,1.481,44.727,39.266
11481,20190425,0.000,356.0,28.523,90.7,0.0384,0.0121,0.0011,0.0263,0.0005,1.757,77.915,73.032
12079,20190520,0.290,0.0,28.315,82.862,0.0221,0.0033,0.001,0.0188,0.0036,1.415,54.999,51.191
12881,20190622,1.222,0.0,24.470,98.032,0.0327,0.0149,0.0013,0.0177,0.0013,0.933,26.566,25.230
15866,20191024,1.377,0.0,26.865,87.35,0.0206,0.002,0.0004,0.0185,0.0146,0.986,46.226,36.378
16208,20191108,1.257,0.0,26.902,81.25,0.0247,0.0032,0.0005,0.0215,0.0087,0.995,62.015,49.186
16569,20191123,0.000,90.0,24.989,94.884,0.0539,0.0402,0.0011,0.0136,0.0005,1.686,42.774,32.842
17194,20191219,0.777,0.0,25.530,95.583,0.0459,0.0315,0.0006,0.0144,0.0006,1.423,61.991,43.878
17251,20191221,1.296,0.0,31.435,64.134,NaN,NaN,0.0003,NaN,0.0202,0.521,27.438,18.865
17543,20200102,0.164,0.0,37.515,55.117,0.0175,0.0016,0.0005,0.0159,0.0266,0.638,43.747,30.242
18008,20200122,0.882,0.0,27.119,92.81,0.0467,0.0195,0.0008,0.0272,0.0009,1.334,43.017,26.564
18149,20200127,0.946,0.0,28.782,83.583,0.0155,0.0014,0.0007,0.0142,0.0127,0.931,44.215,30.220
18190,20200129,2.398,0.0,24.824,96.831,0.0195,0.0061,0.0006,0.0134,0.0053,0.669,17.235,13.180
18342,20200204,1.149,0.0,28.912,76.267,0.0224,0.0017,0.0013,0.0207,0.0211,1.162,70.165,50.885
18802,20200224,0.902,0.0,27.259,76.4,0.0141,0.0027,0.0007,0.0113,0.0095,0.558,17.794,7.766
19665,20200331,1.130,0.0,27.852,87.5,0.0056,0.0026,0.0013,0.003,0.0195,0.675,37.125,27.878
19666,20200331,0.996,0.0,27.430,87.767,0.0048,0.0021,0.0012,0.0027,0.017,0.698,35.339,27.663
19757,20200403,0.000,312.0,29.037,83.2,0.0043,0.0026,0.0012,0.0017,0.0251,0.457,14.398,10.963
20241,20200424,0.627,0.0,24.849,98,0.0045,0.0032,0.0004,0.0012,0.0047,0.388,7.415,0.062
20432,20200502,0.000,221.0,26.495,95.894,0.0269,0.0166,0.0009,0.0103,0.0005,0.907,39.109,26.716
20911,20200522,0.849,0.0,27.946,81,0.0198,0.0096,0.0004,0.0101,0.0099,0.887,29.635,22.599
21037,20200527,0.463,0.0,26.813,92.583,0.0268,0.0154,0.0017,0.0114,0.0009,1.265,86.313,69.889
21150,20200531,0.914,0.0,27.472,87,0.033,0.0112,0.0008,0.0218,0.0046,1.498,55.172,42.661
21566,20200618,0.000,110.0,25.713,92.217,0.0255,0.009,0.0005,0.0165,0.0019,NaN,37.788,29.380
22381,20200722,0.000,132.0,24.240,96.117,0.014,0.0016,0.0008,0.0124,0.0065,0.581,23.128,15.992
23043,20200818,1.322,0.0,28.067,82.083,0.0395,0.0068,0.0009,0.0327,0.0154,1.161,75.685,56.827
24268,20201008,1.369,0.0,27.633,84.433,0.0186,0.0066,0.0006,0.012,0.0096,0.898,27.864,19.481
24293,20201009,0.261,0.0,29.122,74.57,0.0423,0.0184,0.0008,0.0239,0.0018,1.104,67.754,38.498
25212,20201117,0.000,246.0,24.816,100,0.0301,0.0142,0.0011,0.0158,0.0019,0.526,24.259,17.315
25335,20201122,0.000,227.0,25.659,93.017,0.0233,0.0065,0.0025,0.0169,0.0075,NaN,13.218,7.758
25926,20201216,0.000,309.0,23.230,99.667,0.0249,0.0066,0.0016,0.0183,0.005,0.622,8.917,6.349

In [212]:
klangapiSelRows[(klangapiSelRows.isnull()).any(axis=1)]

,date,wind_speed,wind_direction,temperature,relative_humidity,nox,no,so2,no2,o3,co,pm10,pm2.5
0,20180101,NaN,NaN,NaN,0,0.0272,0.0157,0.0015,0.0085,0.0113,NaN,18.317,9.176
3,20180101,3.422,293.0,27.218,82.583,0.0153,0.0087,0.0029,0.007,0.0153,0.486,NaN,NaN
18,20180102,0.432,90.0,24.345,94.334,0.0226,0.0086,NaN,0.0131,0.0007,0.852,45.596,27.281
19,20180102,0.409,42.0,24.480,92.7,0.0474,0.0327,0.001,0.0145,NaN,0.839,37.22,23.316
20,20180102,0.100,154.0,24.681,92.456,0.0773,0.0603,0.0018,0.0158,0.0008,NaN,34.261,16.856
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26250,20201230,0.718,122.0,31.212,66.083,NaN,NaN,0.0035,NaN,0.0208,0.633,20.749,16.925
26270,20201231,0.663,157.0,24.567,94.317,0.0436,0.0224,NaN,0.0212,0.0004,1.225,38.76,29.640
26271,20201231,0.564,141.0,24.502,93.9,0.0514,0.0324,NaN,0.019,0.0005,NaN,38.63,28.996
26272,20201231,0.909,114.0,26.393,88.767,0.0525,0.0297,0.0022,0.0228,NaN,1.508,48.205,38.629
26274,20201231,1.636,222.0,29.502,72.05,NaN,NaN,0.0017,NaN,0.0276,0.716,29.894,21.259

In [213]:
klangapiSelRows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26287 entries, 0 to 26286
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               26287 non-null  int64
 1   wind_speed         26216 non-null  float64
 2   wind_direction     26216 non-null  float64
 3   temperature        26216 non-null  float64
 4   relative_humidity  26217 non-null  object
 5   nox                24657 non-null  object
 6   no                 24657 non-null  object
 7   so2                24839 non-null  object
 8   no2                24677 non-null  object
 9   o3                 24984 non-null  object
 10  co                 24951 non-null  object
 11  pm10               26098 non-null  object
 12  pm2.5              26131 non-null  float64
dtypes: float64(4), int64(1), object(8)
memory usage: 2.6+ MB

In [214]:
#Change the incorrect datatype to the correct datatype
#object to float
klangapiSelRows["relative_humidity"] = pd.to_numeric(klangapiSelRows.relative_humidity, errors='coerce')
klangapiSelRows["nox"] = pd.to_numeric(klangapiSelRows.nox, errors='coerce')
klangapiSelRows["no"] = pd.to_numeric(klangapiSelRows.no, errors='coerce')
klangapiSelRows["so2"] = pd.to_numeric(klangapiSelRows.so2, errors='coerce')
klangapiSelRows["no2"] = pd.to_numeric(klangapiSelRows.no2, errors='coerce')
klangapiSelRows["o3"] = pd.to_numeric(klangapiSelRows.o3, errors='coerce')
klangapiSelRows["co"] = pd.to_numeric(klangapiSelRows.co, errors='coerce')
klangapiSelRows["pm10"] = pd.to_numeric(klangapiSelRows.pm10, errors='coerce')

In [215]:
#Check data(datatype)
klangapiSelRows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26287 entries, 0 to 26286
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               26287 non-null  int64
 1   wind_speed         26216 non-null  float64
 2   wind_direction     26216 non-null  float64
 3   temperature        26216 non-null  float64
 4   relative_humidity  26217 non-null  float64
 5   nox                24657 non-null  float64
 6   no                 24657 non-null  float64
 7   so2                24839 non-null  float64
 8   no2                24677 non-null  float64
 9   o3                 24984 non-null  float64
 10  co                 24951 non-null  float64
 11  pm10               26098 non-null  float64
 12  pm2.5              26131 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 2.6 MB

In [216]:
#Check missing data
klangapiSelRows.isnull().sum()

date                    0
wind_speed             71
wind_direction         71
temperature            71
relative_humidity      70
nox                  1630
no                   1630
so2                  1448
no2                  1610
o3                   1303
co                   1336
pm10                  189
pm2.5                 156
dtype: int64

In [217]:
#fill in missing data with linear interpolation 
klangapiSelRows.interpolate(method ='linear', limit_direction ='both', inplace=True)

In [218]:
#Check missing data again
klangapiSelRows.isnull().sum()

date                 0
wind_speed           0
wind_direction       0
temperature          0
relative_humidity    0
nox                  0
no                   0
so2                  0
no2                  0
o3                   0
co                   0
pm10                 0
pm2.5                0
dtype: int64

In [219]:
klangapiSelRows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26287 entries, 0 to 26286
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               26287 non-null  int64
 1   wind_speed         26287 non-null  float64
 2   wind_direction     26287 non-null  float64
 3   temperature        26287 non-null  float64
 4   relative_humidity  26287 non-null  float64
 5   nox                26287 non-null  float64
 6   no                 26287 non-null  float64
 7   so2                26287 non-null  float64
 8   no2                26287 non-null  float64
 9   o3                 26287 non-null  float64
 10  co                 26287 non-null  float64
 11  pm10               26287 non-null  float64
 12  pm2.5              26287 non-null  float64
dtypes: float64(12), int64(1)
memory usage: 2.6 MB

In [220]:
# klangapiHourly = klangapiSelRows.reset_index()
# klangapiHourly.to_csv('klangapiCleanedHourly.csv', encoding='utf-8',index=False)

## RESAMPLE THE DATA TO DAILY MEAN AND MAX

In [221]:
#change the date datatype from int to date type
klangapiSelRows['date'] = pd.to_datetime(klangapiSelRows['date'], format='%Y%m%d')

In [222]:
#set the date to index
klangapiSelRows.set_index('date', inplace=True)
klangapiSelRows.head()

,wind_speed,wind_direction,temperature,relative_humidity,nox,no,so2,no2,o3,co,pm10,pm2.5
date,,,,,,,,,,,,
2018-01-01,3.073,253.0,27.742,0.000,0.0272,0.0157,0.0015,0.0085,0.0113,0.483,18.3170,9.1760
2018-01-01,3.073,253.0,27.742,80.789,0.0172,0.0087,0.0013,0.0085,0.0143,0.483,8.9950,2.8280
2018-01-01,3.293,286.0,27.539,80.817,0.0361,0.0196,0.0045,0.0115,0.0121,0.483,18.3790,13.7140
2018-01-01,3.422,293.0,27.218,82.583,0.0153,0.0087,0.0029,0.0070,0.0153,0.486,12.5155,7.8395
2018-01-01,1.892,295.0,26.800,85.033,0.0215,0.0111,0.0007,0.0087,0.0129,0.615,6.6520,1.9650

In [223]:
# klangapiHourly = klangapiSelRows.reset_index()
# klangapiHourly.to_csv('klangapiCleanedHourlyPm2.5.csv', encoding='utf-8',index=False)

In [224]:
#resample data
klangapiDailyMean = klangapiSelRows.resample('D').mean()
klangapiDailyMean.shape

(1096, 12)

In [225]:
# klangapiDailyMax = klangapiSelRows.resample('D').max()
# klangapiDailyMax.shape

In [226]:
#round off data sebb bnyk sangat point kt belakang bila averaging data jadi daily
klangapiDailyMean=klangapiDailyMean.round(4)
klangapiDailyMean.head()

,wind_speed,wind_direction,temperature,relative_humidity,nox,no,so2,no2,o3,co,pm10,pm2.5
date,,,,,,,,,,,,
2018-01-01,1.4265,214.0833,25.9475,81.5013,0.0332,0.0171,0.0012,0.0156,0.0078,0.8107,25.4461,15.8207
2018-01-02,0.7610,163.6667,26.5971,85.0961,0.0354,0.0146,0.0010,0.0212,0.0120,0.9561,40.1219,24.3351
2018-01-03,0.8040,200.7500,26.6070,84.4370,0.0338,0.0139,0.0008,0.0203,0.0127,0.8196,34.7673,19.8919
2018-01-04,1.1051,248.6667,26.2571,87.1105,0.0504,0.0269,0.0017,0.0247,0.0088,1.0495,41.5262,25.1323
2018-01-05,1.0654,191.9583,25.8254,86.6830,0.0308,0.0101,0.0020,0.0191,0.0079,0.6930,26.0159,15.1592

In [227]:
klangapiDailyMean.isnull().sum()

wind_speed           0
wind_direction       0
temperature          0
relative_humidity    0
nox                  0
no                   0
so2                  0
no2                  0
o3                   0
co                   0
pm10                 0
pm2.5                0
dtype: int64

In [228]:
#262 missing data sebb DOE stop collected data from this period so that why missing
klangapiDailyMean[klangapiDailyMean['wind_direction'].isnull()]

Empty DataFrame
Columns: [wind_speed, wind_direction, temperature, relative_humidity, nox, no, so2, no2, o3, co, pm10, pm2.5]
Index: []

In [229]:
#drop that missing data
klangapiDailyMean.dropna(inplace=True)
klangapiDailyMean.shape

(1096, 12)

In [230]:
klangapiDailyMean[(klangapiDailyMean == 0.0).any(axis=1)]

Empty DataFrame
Columns: [wind_speed, wind_direction, temperature, relative_humidity, nox, no, so2, no2, o3, co, pm10, pm2.5]
Index: []

In [135]:
#2002-01-01 to 2020-12-31 = 6940 days
#2002-01-01 to 2002-09-30 = 273 days
#273 days removed
#6940 - 273 = 6667 days
#So data train mesti ade 6667 rows
#tapi data from 14/4/2017 - 31/12/2017 takde, so 6667 -262 = 6405 rows

In [231]:
klangapiDailyMean.reset_index(inplace=True)
klangapiDailyMean.head()

,date,wind_speed,wind_direction,temperature,relative_humidity,nox,no,so2,no2,o3,co,pm10,pm2.5
0,2018-01-01,1.4265,214.0833,25.9475,81.5013,0.0332,0.0171,0.0012,0.0156,0.0078,0.8107,25.4461,15.8207
1,2018-01-02,0.7610,163.6667,26.5971,85.0961,0.0354,0.0146,0.0010,0.0212,0.0120,0.9561,40.1219,24.3351
2,2018-01-03,0.8040,200.7500,26.6070,84.4370,0.0338,0.0139,0.0008,0.0203,0.0127,0.8196,34.7673,19.8919
3,2018-01-04,1.1051,248.6667,26.2571,87.1105,0.0504,0.0269,0.0017,0.0247,0.0088,1.0495,41.5262,25.1323
4,2018-01-05,1.0654,191.9583,25.8254,86.6830,0.0308,0.0101,0.0020,0.0191,0.0079,0.6930,26.0159,15.1592

In [233]:
# klangapiDailyMean.to_csv('klangapiCleanedDailyPm2.5Mean.csv', encoding='utf-8',index=False)

In [245]:
#remove uvb, rh rows, year
#training/testing 2002-2018
#deployment 2019-2020, in stat verification
#gru:improvement lstm: get recurrent unit ,lstm

In [ ]:
#formula
#API
#Chapter 2
#Chapter 4